html,
body {
    /* height가 100% 적용되지 않을 때 */
    height: 100%;
    overflow: hidden;
}

#mainWrap {
    border: 0px solid red;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0px;
}


/************************************************/

#menuArea,
#mainArea {
    border: 0px solid rgb(37, 117, 170);
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    float: left;
}

#menuArea {
    width: 220px;
    background-color: rgb(62, 93, 131);
}

#menuArea ul {
    margin-bottom: 30px;
}

#menuArea ul:nth-of-type(1) {
    margin-bottom: 0px;
}

#menuArea ul li:nth-of-type(3) {
    background-color: #fff;
    font-weight: bolder;
    margin-top: 0px;
}

#menuArea ul li:nth-of-type(3) a {
    color: #365378;
}


/************************************************/

#mainArea {
    width: calc(100% - 220px);
    background-color: rgb(234, 240, 247);
}

#mainArea article {
    padding: 20px;
    border-radius: 5px;
}

#mainArea article #rightMenu {
    border: 0px solid red;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    float: right;
    font-size: 13px;
}

#mainArea article #rightMenu li {
    float: left;
    padding: 0;
    margin: 0;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
}

#mainArea article:nth-of-type(1),
#mainArea article:nth-of-type(2) {
    background-color: #FFF;
}

#mainArea article:nth-of-type(2) {
    height: calc(100% - 180px);
}


/************************************************/

#mainArea article:nth-of-type(2) div {
    border: 0px solid rgb(148, 93, 116);
}

#mainArea article:nth-of-type(2) ul {
    border: 0px solid rgb(93, 124, 148);
    float: right;
}

#mainArea article:nth-of-type(2) li {
    float: left;
    border: 0px solid rgb(40, 136, 209);
    border-radius: 2px;
    background-color: #4296D9;
    color: #fff;
    padding: 5px;
    margin: 1px;
    font-size: 13px;
    font-weight: normal;
    opacity: 1;
    cursor: pointer;
}


/************************************************/