html,
body {
    /* height가 100% 적용되지 않을 때 */
    height: 100%;
    /*overflow:hidden;*/
}

h1 {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 10px;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    margin: 30px auto;
    border: 0px solid red;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}

h3 {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 10px;
}


/*******************************************/

#mainWrap {
    border: 0px solid red;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0px;
}


/*******************************************/

#menuArea,
#mainArea {
    border: 0px solid rgb(37, 117, 170);
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    float: left;
}

#menuArea {
    width: 220px;
    background-color: rgb(62, 93, 131);
}

#menuArea ul {
    margin-bottom: 30px;
}

#menuArea ul:nth-of-type(1) {
    margin-bottom: 0px;
}

#menuArea ul:nth-of-type(1) li {
    text-align: center;
}

#menuArea ul li {
    border-bottom: 0px solid #999;
    margin: 5px;
    padding: 10px;
    color: rgb(233, 232, 238);
}

#menuArea ul:nth-of-type(2) li:nth-of-type(1) {
    background-color: #fff;
    font-weight: bolder;
}

#menuArea li:nth-of-type(1) a {
    color: #365378;
}

#menuArea ul li ul {
    margin-bottom: 0;
    font-size: 14px;
}

#menuArea ul li ul li a {
    font-weight: normal;
    color: rgb(219, 133, 20);
}

#ulProjectList li {
    padding: 5px !important;
}


/*******************************************/

#mainArea {
    width: calc(100% - 220px);
    height: 100%;
    background-color: rgb(234, 240, 247);
}

#mainArea article {
    padding: 20px;
    border-radius: 5px;
}

#mainArea article #txtSearchWord {
    border: 1px solid #D4DBDF;
    width: 270px;
    height: 45px;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 10px;
    background: url(../../img/search.png);
    background-repeat: no-repeat;
    background-position: right 10px bottom 10px;
}

#mainArea article #rightMenu {
    border: 0px solid red;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    float: right;
    font-size: 13px;
}

#mainArea article #rightMenu li {
    float: left;
    padding: 0;
    margin: 0;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
}

#mainArea article:nth-of-type(1),
#mainArea article:nth-of-type(3) {
    background-color: #FFF;
}

#mainArea article:nth-of-type(3) {
    height: calc(100% - 180px);
    overflow-x: hidden;
    overflow-y: auto;
}

#txt_title{
    border:1px solid rgb(161, 149, 149);
    border-radius: 5px;
    width:100%;
    box-sizing:border-box;
    margin-top:20px;
    padding:5px;
    font-size:16px;
}
#mainArea textarea{
    border:1px solid #999;
    border-radius:5px;
    width:100%;    
    height:calc(100% - 320px);
    box-sizing: border-box;
    font-size:14px;
}

#mainArea input[type=button]{
    border:1px solid rgb(12, 115, 184);
    margin:7px;
    padding:7px;
    float:right;
    background-color:#158DE0;
    color:#fff;
    font-size:14px;
}
/*******************************************/