html,
body {
    height: 98%;
    overflow: hidden;
}


/*#############################################################*/

#dvLoading {
    background: transparent url(../../img/loading3.gif) no-repeat center center;
    height: 100px;
    width: 100px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
}

/* #dvLoading2 {
    background: transparent url(../../img/loading.gif) no-repeat center center;
    height: 100px;
    width: 100px;
    position: relative;
    z-index: 1000;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
} */

#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: #000;
    opacity: 0.3;
    display: block;
}

#loading_img1
{
    background:transparent url(/static/public/img/loading3.gif) no-repeat center center;
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 1000;
    left: 30%;
    top: 40%;
    display:none;
}
#loading_img2
{
    background:transparent url(/static/public/img/loading3.gif) no-repeat center center;
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 1000;
    left: 30%;
    top: 40%;
    display:none;
}

/*-------------------------------------------------------------*/

#mainWrap {
    border: 0px solid rgb(207, 204, 204);
    box-sizing: border-box;
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    padding: 10px;
    height: 100%;
}


/*#############################################################*/

#topGroups {
    display: inline-block;
    border: 0px solid red;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
}

#topGroups h1 {
    float: left;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-left: 10px;
}

#topGroups h1 img {
    width: 30px;
}


/*-------------------------------------------------------------*/

#topGroups ul {
    float: right;
    font-size: 14px;
}

#topGroups ul li {
    float: left;
    padding: 5px;
    border-radius: 5px;
    margin: 1px;
    height: 12px;
    line-height: 12px;
    vertical-align: middle;
    font-size: 12px;
}

#topGroups ul li:nth-of-type(4) {
    padding-left: 30px;
}


/*#############################################################*/

#transArea {
    box-sizing: border-box;
    clear: both;
    float: left;
    width: 69%;
    height: 96%;
    overflow-y: scroll;
}

#transArea,
#tran1section,
#tran2section {
    border: 2px solid rgb(153, 163, 175);
}


/*-------------------------------------------------------------*/

#mainTbl {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}

#mainTbl tr:nth-of-type(1) {
    background-color: rgb(229, 231, 238);
}

#mainTbl tr th {
    text-align: center;
    vertical-align: middle;
}

#mainTbl tr:nth-of-type(1) th:nth-of-type(4),
#mainTbl tr:nth-of-type(1) th:nth-of-type(5),
#mainTbl tr:nth-of-type(1) th:nth-of-type(6) {
    font-size: 12px;
}

#mainTbl th {
    background-color: rgba(235, 231, 231, 0.274);
}

#mainTbl th,
#mainTbl td {
    border: 1px solid rgb(207, 204, 204);
    text-align: justify;
    /* 좌우공백제거 */
    vertical-align: middle;
    padding: 7px;
}

#mainTbl td {
    font-size: 14px;
}

#mainTbl td:nth-of-type(1) {
    text-align: center;
    background-color: rgba(235, 231, 231, 0.274);
    vertical-align: middle;
}

#mainTbl td:nth-of-type(2) {
    cursor: pointer;
}

#mainTbl td:nth-of-type(2):hover {
    color: #f88707;
}

#mainTbl td:nth-of-type(4),
#mainTbl td:nth-of-type(5),
#mainTbl td:nth-of-type(6) {
    text-align: center;
}

#mainTbl td textarea {
    border: 0px solid red;
    width: 100%;
    height: 21px;
    resize: none;
    overflow-y: hidden;
    font-size: 14px;
    text-align: justify;
    /* 좌우공백제거 */
}


/*#############################################################*/

#resultArea {
    border-top: 1px solid rgba(207, 204, 204, 0.404);
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0;
    float: right;
    width: 30%;
    height: 99%;
    line-height: 99%;
    vertical-align: top;
    background-color: #e1e4e618;
    position: relative;
    padding-bottom: 0;
}

#resultArea h2 {
    position: absolute;
    top: 0px;
    margin-top: 0;
    margin-left: 5px;
}

#tran1section,
#tran2section {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    height: calc(43%);
}


/*-------------------------------------------------------------*/

#tran1section {
    top: 0px;
}

#resultTbl,
#resultTbl2,
#originSentence {
    border: 1px solid rgba(167, 148, 95, 0.863);
    width: 99%;
    box-sizing: border-box;
    margin: 2px;
    font-size: 13px;
    text-align: justify;
}

#originSentence {
    margin-top: 40px !important;
    padding: 10px;
}

#resultTbl {
    cursor: pointer;
    /*margin-top:40px !important;*/
}

#resultTbl2 {
    margin-top: 0px;
}

#resultTbl tr:hover {
    opacity: 0.8;
    color: red;
}

#resultTbl tr td,
#resultTbl2 tr td {
    padding: 7px;
    border: 1px solid rgba(167, 148, 95, 0.863);
}


/*-------------------------------------------------------------*/

#tran2section {
    top: calc(46%);
    padding: 5px;
}

#tran2section table {
    position: relative;
    top: 40px;
    border: 0px solid blue;
    width: 100%;
    box-sizing: border-box;
}

#tran2section table td div {
    border: 0px solid red;
    margin: 10px;
    font-size: 14px;
}

#tran2section table td div input[type=button] {
    border: 1px solid rgba(216, 208, 208, 0.644);
    background-color: rgba(235, 229, 229, 0.514);
    cursor: pointer;
}

#txtPublicSearch,
#btnPublicSearch {
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

#txtPublicSearch,
#btnPublicSearch {
    border: 1px solid rgb(197, 151, 52);
}

#txtPublicSearch {
    border-radius: 5px;
    width: 69%;
}

#btnPublicSearch {
    width: 29%;
    cursor: pointer;
    background-color: rgba(238, 226, 226, 0.596);
}


/*-------------------------------------------------------------*/

#tabTbl {
    border: 0px solid blue;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0px;
}

#tabTbl td {
    border: 1px solid rgba(207, 204, 204, 0.404);
    padding: 12px;
    text-align: center;
    cursor: pointer;
}

#tabTbl td:nth-of-type(1) {
    font-weight: bold;
    border-left: 0px;
    border-top: 0px;
}

#tabTbl td:nth-of-type(2) {
    border-right: 0px;
    border-bottom: 0px;
    background-color: #fff;
}


/*#############################################################*/

#commentDiv {
    border: 1px solid rgb(124, 117, 117);
    border-radius: 5px;
    background-color: rgb(248, 248, 242);
    height: 300px;
    width: 500px;
    position: fixed;
    z-index: 1000;
    left: calc(50% - 250px);
    top: calc(50% - 150px);
    margin: -25px 0 0 -25px;
    /* opacity:0.5; */
    padding: 10px;
}

#commentDiv ul {
    border: 1px solid rgb(124, 117, 117);
    width: 100%;
    height: calc(100% - 100px);
}

#commentDiv div:nth-of-type(1) {
    position: relative;
    border: 1px solid #bdc4ca;
    box-sizing:border-box;
    background-color: #fff;
    width: 100%;
    height: calc(100% - 110px);
    margin: 10px auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding:10px;
    font-size:13px;
}

#comments img{
    border:0;
    width:12px;
    vertical-align:middle;
    cursor:pointer;
}

.RightButtonDiv input[type=button] {
    border: 0px solid rgb(218, 215, 52);
    background-color: rgb(198, 201, 129);
}

#close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#new_comment_div {
    border: 0px solid #B5BCC3;
    width: 100%;
    word-wrap: break-word;
}

#new_comment_div input[type=text] {
    border: 1px solid #B5BCC3;
    width: 440px;
    font-size:13px;
    padding:4px;
}

#new_comment_div input[type=button] {
    border: 0px solid rgb(255, 208, 0);
    border-radius:5px;
    color:#fff;
    background-color: rgb(190, 190, 151);
    width: 40px;
    padding: 3px;
    font-size:13px;
}

#instant_div{
    border: 1px solid rgb(124, 117, 117);
    border-radius: 5px;
    background-color: rgb(248, 248, 242);
    height: 60px;
    line-height:60px;
    vertical-align: middle;
    text-align: center;
    width: 400px;
    position: fixed;
    z-index: 1000;
    left: calc(50% - 250px);
    top: calc(50% - 150px);
    margin: -25px 0 0 -25px;
    /* opacity:0.5; */
    padding: 10px;
}