html,
body {
    /* height가 100% 적용되지 않을 때 */
    height: 100%;
    overflow: hidden;
}

#mainWrap {
    border: 0px solid red;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0px;
}


/******************************************/

#menuArea,
#mainArea {
    border: 0px solid rgb(37, 117, 170);
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    float: left;
}

#menuArea {
    width: 220px;
    background-color: rgb(62, 93, 131);
}

#menuArea ul {
    margin-bottom: 30px;
}

#menuArea ul:nth-of-type(1) {
    margin-bottom: 0px;
}

#menuArea ul li:nth-of-type(5) {
    background-color: #fff;
    font-weight: bolder;
    margin-top: 0px;
}

#menuArea ul li:nth-of-type(5) a {
    color: #365378;
}


/******************************************/

#mainArea {
    width: calc(100% - 220px);
    background-color: rgb(234, 240, 247);
}

#mainArea article {
    padding: 20px;
    border-radius: 5px;
}

#mainArea article ul ul {
    border: 0px solid red;
    margin-top: 15px;
    padding: 5px;
    width: 100%;
}

#mainArea article ul ul li:nth-last-of-type(1) {
    text-align: right;
}

#mainArea article ul ul li {
    border: 0px solid blue;
    width: 100%;
    padding-right: 20px;
    font-size: 14px;
}

#mainArea article ul ul li span,
#mainArea article ul ul li input[type=text],
#mainArea article ul ul li input[type=password] {
    border: 0px solid blue;
    border-radius: 5px;
    display: inline-block;
    width: 20%;
    line-height: 20px;
    font-size: 14px;
    margin: 2px;
    padding: 2px;
    padding-left: 5px;
    /* text-align: right; */
    /* padding-right: 15px; */
}

#mainArea article ul ul li span {
    padding-left: 25px;
}

#mainArea article ul ul li span:nth-of-type(1) {
    font-weight: bold;
}

#mainArea article ul ul li input[type=text],
#mainArea article ul ul li input[type=password] {
    border: 1px solid rgb(160, 155, 155);
    width: 30%;
    text-align: left;
}

#mainArea article ul ul li input[type=button] {
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #1797E4;
    color: #fff;
    font-size: 14px;
    padding: 5px;
}

#mainArea article li li input[type=button]:disabled {
    background-color: rgb(129, 144, 153);
    color: rgb(196, 196, 202);
}

#mainArea article #rightMenu {
    border: 0px solid red;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    float: right;
    font-size: 13px;
}

#mainArea article #rightMenu li {
    float: left;
    padding: 0;
    margin: 0;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
}

#mainArea article:nth-of-type(1),
#mainArea article:nth-of-type(2),
#mainArea article:nth-of-type(3) {
    background-color: #FFF;
}

#mainArea article:nth-of-type(2),
#mainArea article:nth-of-type(3) {
    height: calc(100% - 190px);
    overflow-x: hidden;
    overflow-y: auto;
}


/******************************************/

#dvTitle {
    height: 40px;
}

#dvTitle input[type=button] {
    border: 0;
    float: right;
    margin: 1px;
    background-color: #1797E4;
    color: #fff;
    font-size: 13px !important;
    padding: 6px !important;
}


/******************************************/

#tblProjectDetail {
    border: 0px solid red;
    width: 500px;
}

#tblProjectDetail td {
    border: 0px solid #999;
    padding: 5px;
    font-size: 14px;
}

#tblProjectDetail td:nth-of-type(1),
#tblProjectDetail td:nth-of-type(3) {
    font-weight: bold;
}


/******************************************/

#listTitleGroup ul {
    float: right;
}

#listTitleGroup li {
    float: left;
    border-radius: 2px;
    padding: 5px;
    margin: 1px;
    font-size: 13px;
    font-weight: normal;
    border: 0px solid rgb(40, 136, 209);
    opacity: 0.5;
    background-color: #4296D9;
    color: #fff;
}

#listTitleGroup li:nth-of-type(1) {
    background-color: #4296D9;
}

#listTitleGroup li:nth-of-type(1) input[type=text] {
    border: 1px solid #999;
    width: 200px;
    border-radius: 5px;
}

#listTitleGroup li:nth-of-type(1),
#listTitleGroup li:nth-of-type(2) {
    opacity: 1;
    cursor: pointer;
}


/******************************************/

#listContents {
    border: 0px solid red;
}

#listContents table {
    border-top: 3px solid rgb(196, 184, 184);
    width: 100%;
}

#listContents table th {
    border: 0px solid blue;
    box-sizing: border-box;
    text-align: center;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    font-size: 14px;
    background-color: rgba(188, 175, 175, 0.411)
}

#listContents table tr {
    border: 0px solid blue;
    box-sizing: border-box;
    text-align: center;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    font-size: 14px;
}

#listContents table td a {
    color: rgb(51, 129, 219);
}

#listContents table tr:nth-of-type(odd) {
    background-color: #EDF3F7;
}

#listContents table tr:nth-of-type(1) {
    background-color: rgba(237, 243, 247, 0.37);
}


/******************************************/

#ul_user_search li:nth-of-type(1) {
    background-color: #fff;
}

#ul_user_search li:nth-of-type(1) input[type=text] {
    width: 170px;
    font-size: 13px;
    padding: 5px;
}

#ul_user_search li:nth-of-type(1) input[type=button] {
    background-color: rgb(212, 202, 57);
    border-color: rgb(201, 189, 22);
    font-size: 13px;
    padding: 2px;
    color: #fff;
    cursor: pointer;
}


/******************************************/

#ulProjectList li {
    font-size: 14px;
    font-weight: normal;
    padding: 5px !important;
}

#ulProjectList li:nth-of-type(1) a {
    color: orange !important;
}


/******************************************/

li p {
    font-size: 13px;
}

#delete_account {
    background-color: rgb(118, 123, 126) !important;
    font-size: 12px !important;
    padding: 4px !important;
}

#txt_name,
#local_pass, 
#local_pass_confirm {
    /* width: 230px !important; */
    border-radius: 5px;
    border: 1px solid #999;
    padding-left:5px;
}

#profile_tbl {
    margin-top: 5px;
    width: 100%;
    border-top: 1px solid rgb(139, 146, 153);
    border-bottom: 1px solid rgb(139, 146, 153);
}

#profile_tbl td {
    border-bottom: 1px dotted rgb(167, 167, 175);
    padding: 5px;
    font-size: 14px;
}

#profile_tbl td:nth-of-type(1) {
    width: 180px;
}

#profile_tbl td:nth-of-type(2) {
    width: 100px;
}

#profile_tbl td:nth-of-type(3) {
    text-align: right;
}

#profile_tbl td input[type=button],
#profile_tbl td input[type=text] {
    font-size: 16px;
}

#profile_tbl td input[type=button] {
    border: 0 solid red;
    background-color: rgb(247, 114, 6);
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    padding: 3px;
}

.dummy {
    height: 40px;
}

.account_tbl {
    margin-top: 5px;
    width: 100%;
    border-top: 1px solid rgb(203, 207, 211);
    border-bottom: 1px solid rgb(203, 207, 211);
}

.account_tbl td {
    border-bottom: 1px dotted rgb(208, 208, 216);
    padding: 3px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    vertical-align: middle;
}

.account_tbl td:nth-of-type(1) {
    width: 180px;
}

.account_tbl td:nth-of-type(3) {
    width: 100px;
}

.account_tbl td:nth-of-type(3) {
    text-align: right;
}

.account_tbl td input[type=button],
.account_tbl td input[type=password],
.account_tbl td input[type=text] {
    font-size: 13px;
}

.myinfo_btn {
    width: 100px;
    border: 0 solid red;
    background-color: rgba(247, 82, 6, 0.747);
    border-radius: 5px;
    color: #fff;
    font-size: 13px !important;
    padding: 3px;
}

.connect_before {
    width: 100px;
    border: 0 solid red;
    background-color: rgb(6, 159, 247);
    border-radius: 5px;
    color: #fff;
    font-size: 13px !important;
    padding: 3px;
}
.local_connect_after {
    width: 100px;
    border: 0 solid red;
    background-color: rgb(247, 143, 6);
    border-radius: 5px;
    color: #fff;
    font-size: 13px !important;
    padding: 3px;
}

.connect_after {
    width: 100px;
    border: 0 solid red;
    background-color: rgb(169, 175, 179);
    border-radius: 5px;
    color: #fff;
    font-size: 13px !important;
    padding: 3px;
    cursor: text !important;
}

.remove_btn {
    width: 100px;
    border: 0 solid red;
    background-color: gray;
    border-radius: 5px;
    color: #fff;
    font-size: 13px !important;
    padding: 3px;
}

#email_v {
    height: 12px;
}
/* 
.fa-google,
.fa-facebook {
    height: 40px;
} */

.fa-google {
    color: rgb(255, 72, 0);
}

.fa-facebook {
    color: rgb(12, 61, 124);
}

#local_connect_area{
    display: none;
    margin-top:20px;
}

#sp_nick_desc{
    font-style: italic;
    font-size:12px;
}